/* 
.navegador {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: indigo;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  margin-left: 500px;
  text-align: center;
  color: blue; 
  background-color: gray;
}

li a{
  color: black;
}

 Change the link color on hover 
li a:hover {
  background-color: #555;
  color: white;
  */



#datos_personales {
  margin-left:25%;
  padding:1px 16px;
  height: auto;
  text-align: center;
  }

#sobremi {
  margin-left:25%;
  padding:1px 16px; ;
  height: auto;
  text-align: center;
    }

#habilidades {
      margin-left: 25%;
      padding:1px 16px;
      height: auto;
      text-align: center
    }

#exp {
      margin-left: 25%;
      padding:1px 16px;
      height: auto;
      text-align: center
    }


ul {
      list-style: none;
  }
  
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: rgb(155, 127, 175);
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.navegador {
  background-color: rebeccapurple;
  color: white;
}

li a:hover:not(.navegador) {
  background-color: #555;
  color: white;
}
body {
  font-family: 'Roboto', sans-serif;
}

img{
    margin-left: 57%;
    padding:1px 16px;
    height: 90px;
    }

    .contact_form{  
      width: 460px; 
      height: auto;
      margin-left: 43%;
      border-radius: 10px;  
      padding-top: 30px;
      padding-bottom: 20px;  
      background-color: rgb(155, 127, 175); 
      padding-left: 30px; 
      
    }
    
    
    input{
      background-color: #fbfbfb; 
      width: 408px; 
      height: 40px; 
      border-radius: 5px;  
      border-style: solid; 
      border-width: 1px; 
      border-color: #ab4493; 
      margin-top: 10px;  
      padding-left: 10px;
      margin-bottom: 20px; 
    }
    
    
    textarea{
      background-color: #fbfbfb; 
      width: 405px; 
      height: 150px; 
      border-radius: 5px;  
      border-style: solid; 
      border-width: 1px; 
      border-color: #ab4493; 
      margin-top: 10px;  
      padding-left: 10px;
      margin-bottom: 20px; 
      padding-top: 15px; 
    }
    
    
    label{
      display: block; 
      float: center;  
    }
    
    
    button{
      height: 45px; 
      padding-left: 5px;
      padding-right: 5px;   
      margin-bottom: 20px; 
      margin-top: 10px;   
      text-transform: uppercase;
      background-color: #ab4493; 
      border-color: #ab4493; 
      border-style: solid; 
      border-radius: 10px;  
      width: 420px;   
      cursor: pointer;
    }
    
    
    button p{
      color: #fff; 
    }
    
    
    span{
      color: #ab4493; 
    }
    
    
    .aviso{
      font-size: 13px;  
      color: #0e0e0e;  
    }
    
    
    h1{
      font-size: 39px;  
      text-align: letf; 
      padding-bottom: 20px; 
      color: #ab4493;
    }
    
    
    h3{
      font-size: 16px; 
      padding-bottom: 30px;
      color: #0e0e0e;   
      text-align: center;
    }
    
    
    p{
      font-size: 14px; 
      color: #0e0e0e; 
    }
    
    
    ::-webkit-input-placeholder {
     color: #a8a8a8;
    }
    